// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding: 20px;
  margin: 30px;
  // background-color: #eae1e1,
}

a {
  text-decoration: none,
}

.background {
  background-color: #eae1e1,
}

